@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: url('inconsolata.woff') format('woff');
}

/* Basic styles */

body {
	margin: 0; padding: 45px;
	background-color: hsl(0, 0%, 10%);
	color: hsl(0, 0%, 40%);
}

body div {
	position: relative;
	box-sizing: border-box;
}

body h1 {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* Layout of the inspect id form */

#inspect_id_form {
	position: relative;
	margin: auto;
	font-family: 'Inconsolata', monospace;
	font-size: 13px;
	line-height: 15px;
	padding: 45px;
	width: 500px;
}
#inspect_id_form div.input {
	margin: 0px 0 45px;
}
#inspect_id_form #secret_phrase {
	/*height: 130px;*/
}
#inspect_id_form #address {
	height: 45px 0;
}

/* Styles shared by secret phrase and address inputs */

div.input {
	position: relative;
}

div.input > label {
	position: absolute;
	display: block;
	top: -15px;
}

div.input > div.text_container {
/*	position: absolute;*/
	display: block;
	margin-left: -10px;
	margin-right: -10px;

}

div.input input,
div.input textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	border: 1px solid hsl(0, 0%, 20%);
	padding: 9px;
	line-height: 24px;
	font-size: 22px;
	letter-spacing: 0.1px;
	font-family: inherit;
	color: hsl(0, 0%, 85%);
	background-color: black;
}
div.input input:focus,
div.input textarea:focus {
	color: hsl(0, 0%, 100%);
	transition: none;
}
div.input input::-webkit-input-placeholder,
div.input textarea::-webkit-input-placeholder  {
	color: hsla(0, 100%, 100%, 0);
	transition: color 500ms linear;
}
div.input.showingPlaceholder input::-webkit-input-placeholder,
div.input.showingPlaceholder textarea::-webkit-input-placeholder {
	color: hsla(0, 100%, 100%, 0.5);
	transition: none;
}

div.input textarea {
	resize:vertical;
}

/* Secret phrase entropy graphic */

#secret_phrase div.entropy {
	height: 45px;
	margin: 10px 0 0;
}

#secret_phrase div.entropy label.text {
	position:absolute;
	bottom: 0px;
}

#secret_phrase div.entropy label.tick {
	position:absolute; 
	display: block;
	top: 0px;
	border-left: 1px solid hsl(0, 0%, 25%);
	height: 10px;
}

#secret_phrase div.entropy label.number {
	position:absolute; 
	bottom: 15px;
}

#secret_phrase div.entropy label.n000 { left: 0px; }
#secret_phrase div.entropy label.n100 { left: 200px; }
#secret_phrase div.entropy label.n150 { left: 300px; }
#secret_phrase div.entropy label.n200 { left: 400px; }
#secret_phrase div.entropy label.n250 { left: 500px; }

#secret_phrase div.entropy div.entropy_value {
	z-index: -1;
	height: 10px;
	width: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	background-color: hsla(130, 50%, 40%, 1.0);
}

#secret_phrase.blank div.entropy div.entropy_value {
	background-color: hsla(130, 50%, 40%, 0.3);
	transition: background-color 400ms linear;
}

#secret_phrase div.entropy label.numeric_value {
	position:absolute; 
	display: block;
	right: -2px;
	top: 0px;
	line-height: 10px;
	height: 15px;
	width: 0px;
	opacity: 1;
}

#secret_phrase.blank div.entropy label.numeric_value {
	opacity: 0;
	transition: opacity 500ms linear;
}

#secret_phrase.showingPlaceholder.blank div.entropy label.numeric_value {
	opacity: 0.3;
}

/* Identity report */

#identity {
	margin: 0;
}

#identity > header {
	height: 20px;
}

#identity > header h1 {
	display: none;
}
#identity.calculating > header h1.calculating,
#identity.done > header h1.done {
	display: block;
}

#identity > header div.progress {
	height: 5px;
}
#identity > header div.progress > div {
	height: 5px;
	background: hsla(0, 0%, 50%, 1);
}
#identity.blank > header div.progress > div,
#identity.done > header div.progress > div,
#identity.expired > header div.progress > div {
	width: 0;
	transition: none;
}
#identity.calculating > header div.progress > div {
	width: 100%;
	transition: width 2.5s linear;
}
#identity > h1 {
	margin: 20px 0 5px;
}
#identity > div {
	margin: 0;
}
#identity.blank > div,
#identity.blank.expired > div,
#identity.blank.calculating > div {
	opacity: 0;
	transition: opacity 500ms linear;
}
#identity.calculating > div {
	opacity: 0.4;
	transition: opacity 400ms linear;
}
#identity.done > div {
	opacity: 1;
	transition: opacity 400ms linear;
}
#identity.expired > div {
	opacity: 0.4;
	transition: opacity 50ms linear;
}

#identity > #miniLockID {
	position: relative;
	box-sizing: border-box;
	font-size: 22px;
	letter-spacing: 0.1px;
	color: white;
}

#identity > div.key {
	font-size: 10px;
	margin: 5px 0 20px;
	width: 350px;
}