@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: url('inconsolata.woff') format('woff');
}

/* Basic styles */

body {
	margin: 0; padding: 45px;
	background-color: hsl(0, 0%, 10%);
	color: hsl(0, 0%, 40%);
}

body div {
	position: relative;
	box-sizing: border-box;
}

body h1 {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

body input, body textarea, body code {
	display: block;
	box-sizing: border-box;
	line-height: 24px;
	font-size: 22px;
	letter-spacing: -0.1px;
	font-family: inherit;
}

/* Layout of the inspect id form */

#inspect_id_form {
	position: relative;
	margin: auto;
	font-family: 'Inconsolata', monospace;
	font-size: 13px;
	line-height: 15px;
	padding: 45px;
	width: 500px;
}
#inspect_id_form div.input {
	margin: 0px 0 45px;
}
#inspect_id_form #secret_phrase {
	/*height: 90px;*/
}
#inspect_id_form #address {
	/*height: 45px;*/
}

/* Styles shared by secret phrase and address inputs */

div.input {
	position: relative;
}

div.input > label {
	position: absolute;
	display: block;
	top: -17px;
}

div.input > div.text_container {
	display: block;
	margin-left: -10px;
	margin-right: -10px;
}

div.input input,
div.input textarea {
	width: 100%;
	margin: 0;
	border: 1px solid hsl(0, 0%, 20%);
	padding: 9px;
	color: hsl(0, 0%, 85%);
	background-color: black;
}
div.input input:focus,
div.input textarea:focus {
	color: hsl(0, 0%, 100%);
	transition: none;
}
div.input input::-webkit-input-placeholder,
div.input textarea::-webkit-input-placeholder  {
	color: hsla(0, 100%, 100%, 0);
	transition: color 500ms linear;
}
div.input.showingPlaceholder input::-webkit-input-placeholder,
div.input.showingPlaceholder textarea::-webkit-input-placeholder {
	color: hsla(0, 100%, 100%, 0.4);
	transition: none;
}

div.input textarea {
	resize:vertical;
}

/* Secret phrase graphics */

#secret_phrase div.ratings {
	height: 15px;
}

#secret_phrase div.ratings label.text {
	position:absolute;
	bottom: 0px;
}

#secret_phrase div.ratings label.n000 { left: 0px; }
#secret_phrase div.ratings label.n100 { left: 200px; }
#secret_phrase div.ratings label.n150 { left: 300px; }
#secret_phrase div.ratings label.n200 { left: 400px; }
#secret_phrase div.ratings label.n250 { left: 500px; }


/* Secret phrase length graphic */

#secret_phrase div.length {
	height: 30px;
	margin: 10px 0 0;
}

#secret_phrase div.length label.text {
	position:absolute;
	top: 0px;
}

#secret_phrase div.length label.tick {
	position:absolute; 
	display: block;
	bottom: 1px;
	border-left: 1px solid hsl(0, 0%, 25%);
	height: 13px;
}

#secret_phrase div.length label.number {
	position:absolute; 
	bottom: 15px;
}

#secret_phrase div.length label.n000 { left: 0px; }
#secret_phrase div.length label.n100 { left: 200px; }
#secret_phrase div.length label.n150 { left: 300px; }
#secret_phrase div.length label.n200 { left: 400px; }
#secret_phrase div.length label.n250 { left: 500px; }

#secret_phrase div.length div.length_value {
	z-index: -1;
	height: 13px;
	width: 0px;
	position: absolute;
	left: 0px;
	bottom: 1px;
	display: block;
}

#secret_phrase div.length_value_fill {
	background: hsla(135, 0%, 30%, 1.0);
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
}
#secret_phrase.blank div.length_value_fill {
	background: hsla(135, 0%, 40%, 0.2);
	transition: background 400ms linear;
}
#secret_phrase.acceptable_length div.length_value_fill {
	background: hsla(135, 50%, 30%, 1.0);
	transition: background 400ms linear;
}

#secret_phrase div.length div.length_value label.numeric_value {
	position:absolute; 
	display: none;
	right: -2px;
	bottom: 0px;
	line-height: 15px;
	height: 15px;
	width: 0px;
	opacity: 1;
}

#secret_phrase.blank div.length div.length_value label.numeric_value {
	opacity: 0;
}

#secret_phrase.showingPlaceholder.blank div.length div.length_value label.numeric_value {
	opacity: 0.3;
}

/* Secret phrase entropy graphic */

#secret_phrase div.entropy {
	height: 30px;
}

#secret_phrase div.entropy label.text {
	position:absolute;
	bottom: 0px;
}

#secret_phrase div.entropy label.tick {
	position:absolute; 
	display: block;
	top: 1px;
	border-left: 1px solid hsl(0, 0%, 25%);
	height: 13px;
}

#secret_phrase div.entropy label.number {
	position:absolute; 
	bottom: 0px;
}

#secret_phrase div.entropy label.n000 { left: 0px; }
#secret_phrase div.entropy label.n100 { left: 200px; }
#secret_phrase div.entropy label.n150 { left: 300px; }
#secret_phrase div.entropy label.n200 { left: 400px; }
#secret_phrase div.entropy label.n250 { left: 500px; }

#secret_phrase div.entropy div.entropy_value {
	z-index: -1;
	height: 13px;
	width: 0px;
	position: absolute;
	left: 0px;
	top: 1px;
	display: block;
}

#secret_phrase div.entropy_value_fill {
	background-color: hsla(135, 0%, 30%, 1.0);
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
}
#secret_phrase.acceptable_entropy div.entropy_value_fill {
	background-color: hsla(135, 50%, 30%, 1.0);
	transition: background-color 400ms linear;
}
#secret_phrase.blank div.entropy_value_fill {
	background-color: hsla(135, 0%, 40%, 0.2);
	transition: background-color 400ms linear;
}

#secret_phrase div.entropy div.entropy_value label.numeric_value {
	position:absolute; 
	display: none;
	right: -2px;
	top: 0px;
	line-height: 15px;
	height: 15px;
	width: 0px;
	opacity: 1;
}

#secret_phrase.blank div.entropy div.entropy_value label.numeric_value {
	opacity: 0;
}

#secret_phrase.showingPlaceholder.blank div.entropy div.entropy_value label.numeric_value {
	opacity: 0.3;
}

/* Identity report */

#identity {
	margin: 0;
	border-top: 1px solid hsla(0, 0%, 100%, 0.1);
}

#identity h1 {
	color: inherit;
}
#identity.blank h1 {
	color: hsla(0, 0%, 85%, 0.1);
}

#identity > header {
	height: 15px;
}
#identity > header h1 {
	display: none;
	position: absolute;
	top: -17px;
}
#identity.calculating > header h1.calculating,
#identity.done > header h1.done {
	display: block;
}

#identity > header div.progress {
	height: 5px;
}
#identity > header div.progress > div {
	height: 5px;
	background: hsla(0, 0%, 50%, 1);
}
#identity.blank > header div.progress > div,
#identity.done > header div.progress > div,
#identity.expired > header div.progress > div {
	width: 0;
	transition: none;
}
#identity.calculating > header div.progress > div {
	width: 100%;
	transition: width 2.5s linear;
}

/* miniLock ID */

#identity #miniLockID {
	position: relative;
	margin: 15px 0;
}

#identity #miniLockID h1 {
	position: absolute;
	top: -17px;
}

#identity #miniLockID code {
	display: block;
	line-height: 25px;
	font-size: 22px;
	letter-spacing: -0.1px;
	color: hsla(0, 0%, 85%, 1.0);
	transition: color 250ms linear;
}
#identity.blank #miniLockID code {
	color: hsla(0, 0%, 85%, 0);
	transition: color 250ms linear;
}
#identity.expired #miniLockID code,
#identity.calculating #miniLockID code {
	color: hsla(0, 0%, 85%, 0.1);
	transition: none;
}

/* Public and secret key graphics */

#identity #keys {
	margin: 0;
	height: 255px;
}

#identity #keys div.key h1 {
	position: absolute;
	bottom: -17px;
}

#identity #public_key {
	position: absolute;
	left: 0;
}
#identity #secret_key {
	position: absolute;
	right: 0;
}

#identity #keys div.graphic {
	height: 255px;
	line-height: 255px;
}
#identity div.graphic img {
	width: 5px;
	height: 255px;
	vertical-align: bottom;
	background-color: hsla(0, 0%, 100%, 0.05);
	margin: 0px 1px 0px 1px;
}
#identity div.graphic img:first-child {
	margin: 0px 1px 0px 0px;
}
#identity div.graphic img:last-child {
	margin: 0px 0px 0px 1px;
}
#identity.done div.graphic img {
	background-color: hsla(0, 0%, 100%, 0.40);
}
